<section>
  <div class="summary-wrapper">
    <h3>סטודיו לאדריכלות ועיצוב פנים - אורית גלילי</h3>
    <p>
      סטודיו לאדריכלות ולעיצוב פנים העוסק בתכנון ארכיטקטוני של פרויקטים
      מגוונים:תכנון בתים פרטיים ומבני ציבור, תכנון שיפוץ וחידוש מבנים. עיצוב
      פנים לחללים פרטיים ובתי עסק. עיצוב מטבחים וריהוט. תכנון ועיצוב תאורה.
      ליווי וייעוץ בבחירת חומרי הגמר, ריהוט וסטיילינג. ייעוץ ועיצוב לבנייה
      ,לרכישה ולשיפוץ בתים פרטיים ועסקים- עפ"י תורת הפנג-שואי. הכנת תכניות וכתבי
      כמויות ברמה מפורטת ומקצועית וכן המחשה בהדמייה תלת מימדית. עבודותיה של
      אורית מתאפיינות בקו צעיר ודינאמי וניחנות בהרמוניה ושפה ארכיטקטונית מוקפדת
      – תוך הקשבה והתחשבות בצרכי הלקוח והתייחסות לאספקטים הכלכליים.
    </p>
  </div>
  <div class="profile-img-wrapper">
    <img
      class=""
      src="../../../assets/orit-profile.jpg"
      height="500"
      width="500"
    />
  </div>
</section>
