@import "../../../globals.scss";
:host {
  display: block;
  background-color: #e7e7e7;
  padding-top: 72px;

  .scroll-anchor {
    position: absolute;
    top: 72px;
    width: 100%;
    height: 1px;
  }
  main {
    margin: 0 16px;
  }
}

@media screen and (min-width: $tablet) {
  :host {
    main {
      margin: 0 24px;
    }
  }
}
@media screen and (min-width: $desktop) {
  :host {
    main {
      max-width: 1080px;
      margin: 0 auto;
    }
  }
}
